QML/build-QML_TRAIN-MINGW-Debug/
QML/build-QML_TRAIN-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
QML/QML_TRAIN/QML_TRAIN.pro.user.8761a29
QML/build-QML_TRAIN-MINGW-Profile/
.idea/
*.properties~
*.pre
QML/QML_TRAIN/QML_TRAIN.pro.user.3ca989e
